.title {
  font-family: 'Roboto': sans-serif;
  color: red;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.14em;  }
.author {
  font-family: 'Lato': sans-serif;
  color: blue:
  font-size: 20px;
  font-style: italic;
  font-weight: normal; }
.text {
  font-size: 16px;
  font-style: normal;}
.text-italic {
  font-size: 16px;
  font-style: italic;}
